$sp: 470px;  // スマホ
$imgDir: "../img/";
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.map {
    background-image: url("#{$imgDir}inai.png");
}

.icon_park1 {
    width: 85px;
    height: 45px;
    position: absolute;
    top: 447px;
    left: 430px;

    @include sp {
        width: 55px;
        height: 30px;
        top: 580px;
        left: 100px;
    }
}

.icon_park2 {
    width: 75px;
    height: 45px;
    position: absolute;
    top: 500px;
    left: 370px;

    @include sp {
        width: 48px;
        height: 30px;
        top: 612px;
        left: 87px;
    }
}

.icon_lowSon1 {
    width: 70px;
    position: absolute;
    top: 460px;
    left: 335px;

    @include sp {
        width: 45px;
        height: 30px;
        top: 558px;
        left: 35px;
    }
}

.icon_miniStop {
    width: 85px;
    position: absolute;
    top: 480px;
    left: 249px;

    @include sp {
        width: 65px;
        height: 30px;
        top: 589px;
        left: 20px;
    }
}

.icon_garden {
    width: 67px;
    position: absolute;
    top: 400px;
    left: 380px;

    @include sp {
        width: 50px;
        height: 30px;
        top: 530px;
        left: 70px;
    }
}

.icon_lowSon2 {
    width: 70px;
    position: absolute;
    top: 325px;
    left: 380px;

    @include sp {
        width: 45px;
        height: 30px;
        top: 475px;
        left: 65px;
    }
}

.icon_sougou {
    width: 68px;
    position: absolute;
    top: 665px;
    left: 930px;

    @include sp {
        width: 52px;
        height: 30px;
        top: 715px;
        left: 297px;
    }
}

.icon_center {
    width: 70px;
    position: absolute;
    top: 665px;
    left: 858px;

    @include sp {
        width: 56px;
        height: 30px;
        top: 720px;
        left: 236px;
    }
}

.icon_familiMart {
    width: 70px;
    position: absolute;
    top: 740px;
    left: 810px;

    @include sp {
        width: 60px;
        height: 30px;
        top: 780px;
        left: 250px;
    }
}

.icon_raiful {
    width: 67px;
    position: absolute;
    top: 285px;
    left: 965px;

    @include sp {
        width: 50px;
        height: 30px;
        top: 440px;
        left: 300px;
    }
}