$sp: 470px;  // スマホ
$imgDir: "../img/";
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.map {
    background-image: url("#{$imgDir}kahoku.png");
}

.icon_lowSon {
    width: 70px;
    position: absolute;
    top: 680px;
    left: 390px;

    @include sp {
        width: 45px;
        height: 30px;
        top: 730px;
        left: 70px;
    }

}

.icon_johin{
    width: 100px;
    position: absolute;
    top: 670px;
    left: 500px;

    @include sp {
        width: 85px;
        height: 30px;
        top: 720px;
        left: 135px;
    }

}

.icon_center {
    width: 85px;
    position: absolute;
    top: 400px;
    left: 935px;

    @include sp {
        width: 70px;
        height: 35px;
        top: 530px;
        left: 280px;
    }

}

.icon_ujie  {
    width: 65px;
    height: 45px;
    position: absolute;
    top: 260px;
    left: 990px;

    @include sp {
        width: 70px;
        height: 30px;
        top: 452px;
        left: 270px;
    }

}

.icon_azeria  {
    width: 85px;
    position: absolute;
    top: 320px;
    left: 985px;

    @include sp {
        width: 67px;
        height: 40px;
        top: 485px;
        left: 265px;
    }

}

.icon_turuha  {
    width: 70px;
    height: 45px;
    position: absolute;
    top: 270px;
    left: 1070px;

    @include sp {
        width: 48px;
        height: 30px;
        top: 421px;
        left: 320px;
    }

}