$sp: 470px;  // スマホ
$imgDir: "../img/";
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.map {
    background-image: url("#{$imgDir}kahoku.png");
}

.icon_lowSon {
    width: 70px;
    position: absolute;
    top: 680px;
    left: 390px;

    @include sp {
        width: 40px;
        height: 25px;
        top: 730px;
        left: 70px;
    }

}

.icon_johin{
    width: 70px;
    position: absolute;
    top: 670px;
    left: 500px;

    @include sp {
        width: 40px;
        height: 25px;
        top: 720px;
        left: 135px;
    }

}

.icon_center {
    width: 80px;
    position: absolute;
    top: 400px;
    left: 935px;

    @include sp {
        width: 60px;
        height: 25px;
        top: 530px;
        left: 280px;
    }

}

.icon_ujie  {
    width: 70px;
    position: absolute;
    top: 260px;
    left: 990px;

    @include sp {
        width: 50px;
        height: 25px;
        top: 455px;
        left: 305px;
    }

}

.icon_azeria  {
    width: 80px;
    position: absolute;
    top: 320px;
    left: 985px;

    @include sp {
        width: 55px;
        height: 25px;
        top: 485px;
        left: 305px;
    }

}

.icon_turuha  {
    width: 70px;
    position: absolute;
    top: 270px;
    left: 1070px;

    @include sp {
        width: 40px;
        height: 25px;
        top: 430px;
        left: 325px;
    }

}