$sp: 470px;  // スマホ
$imgDir: "../img/";
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.menuArea {
    background-color: greenyellow;
    height: 35px;
    text-align: center;
    line-height: 35px;

    @include sp {
        height: 30px;
        line-height: 30px
    }
}

.Area {
    background-color: greenyellow;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;

    @include sp {
        width: 70px;
        height: 30px;
        line-height: 30px;
    }
}

.map {
    background-image: url("#{$imgDir}kanan.png");
}

.icon_maeyachi {
    position: absolute;
    top: 235px;
    left: 175px;

    @include sp {
        top: 390px;
        left: 5px;
    }

}

.icon_sougou {

    width: 85px;
    position: absolute;
    top: 290px;
    left: 395px;

    @include sp {
        width: 50px;
        height: 30px;
        top: 457px;
        left: 48px;
    }
}

.icon_hukushi {

    width: 70px;
    position: absolute;
    top: 260px;
    left: 315px;

    @include sp {
        width: 67px;
        height: 30px;
        top: 425px;
        left: 20px;
    }
}

.icon_kananHall {

    width: 90px;
    position: absolute;
    top: 380px;
    left: 420px;

    @include sp {
        width: 72px;
        height: 30px;
        top: 509px;
        left: 75px;
    }
}

.icon_library {

    width: 70px;
    position: absolute;
    top: 417px;
    left: 390px;

    @include sp {
        width: 65px;
        height: 30px;
        top: 541px;
        left: 40px;
    }
}

.icon_display {

    width: 86px;
    position: absolute;
    top: 417px;
    left: 460px;

    @include sp {
        width: 73px;
        height: 30px;
        top: 541px;
        left: 106px;
    }
}

.icon_kanomata {
    position: absolute;
    top: 235px;
    left: 675px;

    @include sp {
        top: 390px;
        left: 195px;
    }

}

.icon_sevenEleven {

    width: 55px;
    position: absolute;
    top: 231px;
    left: 1060px;

    @include sp {
        width: 50px;
        height: 30px;
        top: 395px;
        left: 314px;
    }
}

.icon_big {

    width: 85px;
    position: absolute;
    top: 465px;
    left: 850px;

    @include sp {
        width: 55px;
        height: 30px;
        top: 566px;
        left: 214px;
    }
}

.icon_hirobuchi {
    position: absolute;
    top: 503px;
    left: 175px;

    @include sp {
        top: 605px;
        left: 5px;
    }

}

.icon_tsuruha {

    width: 95px;
    position: absolute;
    top: 625px;
    left: 564px;

    @include sp {
        width: 50px;
        height: 30px;
        top: 685px;
        left: 140px;
    }
}

.icon_familyMart {

    width: 70px;
    position: absolute;
    top: 655px;
    left: 410px;

    @include sp {
        width: 56px;
        height: 30px;
        top: 715px;
        left: 50px;
    }
}



.icon_sue {
    position: absolute;
    top: 503px;
    left: 675px;

    @include sp {
        top: 605px;
        left: 195px;
    }

}

.icon_sevenEleven2 {

    width: 55px;
    position: absolute;
    top: 510px;
    left: 935px;

    @include sp {
        width: 49px;
        height: 30px;
        top: 605px;
        left: 296px;
    }
}

.icon_familyMart2 {

    width: 70px;
    position: absolute;
    top: 629px;
    left: 995px;

    @include sp {
        width: 56px;
        height: 30px;
        top: 685px;
        left: 275px;
    }
}

.icon_park1 {

    width: 70px;
    position: absolute;
    top: 700px;
    left: 840px;

    @include sp {
        width: 55px;
        height: 30px;
        top: 740px;
        left: 235px;
    }
}

.icon_park2 {

    width: 70px;
    position: absolute;
    top: 740px;
    left: 840px;

    @include sp {
        width: 55px;
        height: 30px;
        top: 771px;
        left: 235px;
    }
}