$sp: 470px;  // スマホ
$imgDir: "../img/";
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.map {
    background-image: url("#{$imgDir}kitakami.png");
}

.icon_life {
    width: 110px;
    position: absolute;
    top: 270px;
    left: 810px;

    @include sp {
        width: 80px;
        height: 25px;
        top: 430px;
        left: 230px;
    }
}

.icon_hukkou  {
    width: 100px;
    position: absolute;
    top: 415px;
    left: 580px;

    @include sp {
        width: 70px;
        height: 25px;
        top: 540px;
        left: 125px;
    }
}

.icon_sougou {
    width: 110px;
    position: absolute;
    top: 645px;
    left: 370px;

    @include sp {
        width: 80px;
        height: 25px;
        top: 715px;
        left: 75px;
    }
}

.icon_park {
    width: 70px;
    position: absolute;
    top: 300px;
    left: 300px;

    @include sp {
        width: 50px;
        height: 25px;
        top: 460px;
        left: 30px;
    }
}