$sp: 470px;  // スマホ
$imgDir: "../img/";
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

a {
    color: white;
}

.pickMain {
    width: 500px;
    height: 200px;
    background-image: url("#{$imgDir}pickMain.png");
    background-size: 100% 100%;
    border: 2px solid red;
    position: absolute;
    top: 590px;
    left: 70px;

    @include sp {
        height: 200px;
        width: 365px;
        top: 612px;
        left: 0px;
    }
}

.ekimae {
    font-size: 13px;
    height: 35px;
    position: absolute;
    top: 665px;
    left: 185px;

    @include sp {
        top: 687px;
        left: 65px;
    }
}
.sumiyoshi {
    font-size: 13px;
    height: 35px;
    position: absolute;
    top: 625px;
    left: 195px;

    @include sp {
        top: 645px;
        left: 56px;
    }
}
.hebitaEast {
    font-size: 13px;
    height: 35px;
    width: 50px;
    position: absolute;
    top: 617px;
    left: 138px;

    @include sp {
        height: 25px;
        top: 625px;
        left: 4px;
    }
}
.hebitaWest {
    font-size: 13px;
    height: 35px;
    width: 50px;
    position: absolute;
    top: 617px;
    left: 70px;

    @include sp {
        height: 25px;
        top: 660px;
        left: 4px;
    }
}
.hebitaSouth {
    font-size: 13px;
    height: 35px;
    width: 50px;
    position: absolute;
    top: 660px;
    left: 90px;

    @include sp {
        height: 25px;
        top: 690px;
        left: 4px;
    }
}
.kama {
    font-size: 13px;
    height: 35px;
    position: absolute;
    top: 703px;
    left: 130px;

    @include sp {
        top: 725px;
        left: 50px;
    }
}
.inai {
    font-size: 16px;
    position: absolute;
    top: 610px;
    left: 300px;

    @include sp {
        top: 662px;
        left: 165px;
    }
}
.minato {
    font-size: 16px;
    position: absolute;
    top: 665px;
    left: 290px;

    @include sp {
        top: 730px;
        left: 145px;
    }
}
.watanoha {
    font-size: 16px;
    position: absolute;
    top: 670px;
    left: 440px;
    
    @include sp {
        top: 730px;
        left: 235px;
    }
}
.hagihama {
    position: absolute;
    top: 525px;
    left: 680px;
    border: solid 2px;

    @include sp {
        top: 520px;
        left: 220px;
    }
}
.oshika {
    position: absolute;
    top: 640px;
    left: 840px;
    border: solid 2px;

    @include sp {
        top: 560px;
        left: 280px;
    }
}
.ogatsu {
    position: absolute;
    top: 310px;
    left: 740px;
    border: solid 2px;

    @include sp {
        top: 410px;
        left: 250px;
    }
}
.kitakami {
    position: absolute;
    top: 260px;
    left: 610px;
    border: solid 2px;

    @include sp {
        top: 380px;
        left: 200px;
    }
}
.kahoku {
    position: absolute;
    top: 300px;
    left: 300px;
    border: solid 2px;

    @include sp {
        top: 405px;
        left: 95px;
    }
}

.kanan {
    position: absolute;
    top: 380px;
    left: 100px;
    border: solid 2px;

    @include sp {
        top: 445px;
        left: 45px;
    }
}

.monou {
    position: absolute;
    top: 280px;
    left: 140px;
    border: solid 2px;

    @include sp {
        top: 385px;
        left: 30px;
    }
}
