$sp: 470px;  // スマホ
$imgDir: "../img/";
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.map {
    background-image: url("#{$imgDir}monou.png");
}

.icon_traning {
    width: 100px;
    position: absolute;
    top: 445px;
    left: 990px;

    @include sp {
        width: 100px;
        height:30px;
        top: 570px;
        left: 265px;
    }
}

.icon_tsuruha {
    width: 95px;
    position: absolute;
    top: 450px;
    left: 460px;

    @include sp {
        width: 80px;
        height: 30px;
        top: 560px;
        left: 90px;
    }
}

.icon_sougo1 {
    width: 85px;
    position: absolute;
    top: 545px;
    left: 465px;

    @include sp {
        width: 50px;
        height: 30px;
        top: 635px;
        left: 120px;
    }
}

.icon_sougo2 {
    width: 85px;
    position: absolute;
    top: 582px;
    left: 465px;

    @include sp {
        width: 50px;
        height: 30px;
        top: 636px;
        left: 172px;
    }
}

.icon_center {
    width: 85px;
    position: absolute;
    top: 530px;
    left: 355px;

    @include sp {
        width: 68px;
        height: 30px;
        top: 610px;
        left: 49px;
    }
}

.icon_familyMart {
    width: 80px;
    position: absolute;
    top: 720px;
    left: 280px;

    @include sp {
        width: 65px;
        height: 30px;
        top: 755px;
        left: 20px;
    }
}