$sp: 470px;  // スマホ
$imgDir: "../img/";
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.map {
    background-image: url("#{$imgDir}oshika.png");
}

.icon_toyo {
    width: 70px;
    position: absolute;
    top: 330px;
    left: 810px;

    @include sp {
        width: 40px;
        height: 25px;
        top: 480px;
        left: 245px;
    }

}

.icon_sougou {
    width: 70px;
    position: absolute;
    top: 320px;
    left: 730px;

    @include sp {
        width: 40px;
        height: 25px;
        top: 480px;
        left: 200px;
    }

}

.icon_seishin {
    width: 70px;
    position: absolute;
    top: 500px;
    left: 300px;

    @include sp {
        width: 40px;
        height: 25px;
        top: 600px;
        left: 52px;
    }

}

.icon_seiyu1 {
    width: 70px;
    position: absolute;
    top: 513px;
    left: 230px;
    

    @include sp {
        width: 40px;
        height: 25px;
        top: 609px;
        left: 10px;
    }

    .spmode {
        display: none;

        @include sp {
            display: block;
        }
    }

}

.icon_seiyu2 {
    width: 70px;
    position: absolute;
    top: 550px;
    left: 230px;
    

    @include sp {
        width: 40px;
        height: 25px;
        top: 635px;
        left: 10px;
    }

    .spmode {
        display: none;

        @include sp {
            display: block;
        }
    }

}

.icon_hot_Maru1 {
    width: 80px;
    position: absolute;
    top: 590px;
    left: 180px;

    @include sp {
        width: 60px;
        height: 50px;
        top: 665px;
        left: 5px;
    }

    .spmode {
        display: none;

        @include sp {
            display: block;
        }
    }

}

.icon_hot_Maru2 {
    width: 80px;
    position: absolute;
    top: 627px;
    left: 180px;

    @include sp {
        width: 60px;
        height: 50px;
        top: 715px;
        left: 5px;
    }

    .spmode {
        display: none;

        @include sp {
            display: block;
        }
    }

}

.icon_yoriiso {
    width: 80px;
    position: absolute;
    top: 340px;
    left: 955px;

    @include sp {
        width: 40px;
        height: 30px;
        top: 480px;
        left: 300px;
    }

    .spmode {
        display: none;

        @include sp {
            display: block;
        }
    }

}