doctype html
html
  // このファイルはpug形式で書いています。(develop_BFM/pug/inai.pug)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 石巻バリアフリーマップ
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='css/inai.css')
  body.container
    include include/header.pug
    main
      .spMenu
        //- i#spMenu.fas.fa-bars
        img#spMenu(src='icon/menu.png' alt='メニューボタンです。タップすると各ポイントのボタンが表示されます')
      .main
        // サイドメニュー
        #menu.hidden
          ul
            li.btn_Park1.button.is-info.is-outlined
              p 運動公園　　　（野球場）
            li.btn_Park2.button.is-info.is-outlined
              p 運動公園（外）
            li.btn_LowSon1.button.is-info.is-outlined
              p ローソン
            li.btn_MiniStop.button.is-info.is-outlined
              p ミニストップ
            li.btn_Garden.button.is-info.is-outlined
              p アンジュ　　　ガーデン
            li.btn_LowSon2.button.is-info.is-outlined
              p ローソン
            li.btn_Sougou.button.is-info.is-outlined
              p 稲井総合支所
            li.btn_Center.button.is-info.is-outlined
              p 稲井公民館
            li.btn_FamilyMart.button.is-info.is-outlined
              p ファミリー　　マート
            li.btn_Raiful.button.is-info.is-outlined
              p ライフル射撃場
        // 地図メニュー
        .map
          .infomationBorder
            img(src='icon/border.png' alt='稲井地区の地図です。下に各ポイントのボタンがあります。上のボタンを押せば、一覧のメニューが見られます。')
          .btn_Park1.button.is-info.icon_park1
            p 運動公園（野球場）
          .btn_Park2.button.is-info.icon_park2
            p 運動公園（外）
          .btn_LowSon1.button.is-info.icon_lowSon1
            p ローソン
          .btn_MiniStop.button.is-info.icon_miniStop
            p.fontSmall ミニストップ
          .btn_Garden.button.is-info.icon_garden
            p.fontSmall アンジュガーデン
          .btn_LowSon2.button.is-info.icon_lowSon2
            p ローソン
          .btn_Sougou.button.is-info.icon_sougou
            p.fontSmall 稲井総合支所
          .btn_Center.button.is-info.icon_center
            p.fontSmall 稲井公民館
          .btn_FamilyMart.button.is-info.icon_familiMart
            p.fontSmall ファミリーマート
          .btn_Riful.button.is-info.icon_raiful
            p.fontSmall ライフル射撃場
          
          
    //-   // マスク
    //-   #mask.hidden
    include include/footer.pug
    
    script(src='js/inai.js')
    script(src='js/inai/1park.js')
    script(src='js/inai/2park.js')
    script(src='js/inai/1lowSon.js')
    script(src='js/inai/center.js')
    script(src='js/inai/familyMart.js')
    script(src='js/inai/garden.js')
    script(src='js/inai/miniStop.js')
    script(src='js/inai/raiful.js')
    script(src='js/inai/sougou.js')
