doctype html
html
  // このファイルはpug形式で書いています。(develop_BFM/pug/kahoku.pug)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 石巻バリアフリーマップ
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css', integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==', crossorigin='')
    link(rel='stylesheet', href='css/main2.css')
  body.container
    include include/header2.pug
    main
      .main
        // 地図メニュー
        .map#map
          .infomationBorder
            img(src='icon/border.png' alt='全体の地図です。下に各ポイントのボタンがあります。')
          
          
      // マスク
      #mask.hidden
      // モーダル
      table#modal.hidden
        tbody
          tr.pointTittle
            th#thTitle(colspan='9')
          tr.infomation
            td#parkingIcon.icon
            td.text 専用駐車場
            td#parkingSign.sign
            td#babybedIcon.icon
            td.text ベビーベッド
            td#babybedSign.sign
            td#multisheetIcon.icon
            td.text マルチシート
            td#multisheetSign.sign
          tr.infomation
            td#ostomateIcon.icon
            td.text オストメイト
            td#ostomateSign.sign
            td#buttonIcon.icon
            td.text 呼び出しボタン
            td#buttonSign.sign
            td#shoewrtoiletIcon.icon
            td.text シャワートイレ
            td#showertoiletSign.sing
          tr.time
            td#tdTime(colspan='9')
          tr.slide
            td.pic(colspan='9')
              img#Prev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#target(alt='ここに写真が表示されます')
              img#Next(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#thumbnails.subnav
    
    include include/footer.pug
    
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js', integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==', crossorigin='')
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src='js/bfmMap.js')
    script(src="js/modalBack.js")
    script(src='js/station/stationMapPoint.js')
    script(src='js/station/stationMapModal.js')
    script(src='js/yamashita/yamashitaMapPoint.js')
    script(src='js/yamashita/yamashitaMapModal.js')
    script(src='js/hebitaEast/hebitaEastMapPoint.js')
    script(src='js/hebitaEast/hebitaEastMapModal.js')
    script(src='js/hebitaWest/hebitaWestMapPoint.js')
    script(src='js/hebitaWest/hebitaWestMapModal.js')
    script(src='js/hebitaSouth/hebitaSouthMapPoint.js')
    script(src='js/hebitaSouth/hebitaSouthMapModal.js')
    script(src='js/watanoha/watanohaMapPoint.js')
    script(src='js/watanoha/watanohaMapModal.js')
    script(src='js/minato/minatoMapPoint.js')
    script(src='js/minato/minatoMapModal.js')
    script(src='js/inai/inaiMapPoint.js')
    script(src='js/inai/inaiMapModal.js')
    script(src='js/kama/kamaMapPoint.js')
    script(src='js/kama/kamaMapModal.js')
    script(src='js/kanan/kananMapPoint.js')
    script(src='js/kanan/kananMapModal.js')
    script(src='js/kahoku/kahokuMapPoint.js')
    script(src='js/kahoku/kahokuMapModal.js')
    script(src='js/kitakami/kitakamiMapPoint.js')
    script(src='js/kitakami/kitakamiMapModal.js')
    script(src='js/monou/monouMapPoint.js')
    script(src='js/monou/monouMapModal.js')
    script(src='js/ogatsu_Hagihama/ogatsuHagihamaMapPoint.js')
    script(src='js/ogatsu_Hagihama/ogatsuHagihamaModal.js')
    script(src='js/oshika/oshikaMapPoint.js')
    script(src='js/oshika/oshikaModal.js')