doctype html
html
  // このファイルはpug形式で書いています。(develop_BFM/pug/monou.pug)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 石巻バリアフリーマップ
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='css/monou.css')
  body.container
    include include/header.pug
    main
      .spMenu
        img#spMenu(src='icon/menu.png' alt='メニューボタンです。タップすると各ポイントのボタンが表示されます')
      .main
        // サイドメニュー
        #menu.hidden
          ul
            li.button.is-info.is-outlined
              p.fontSmall
               | 農業者トレー　　ニングセンター
            li.button.is-info.is-outlined
              p ツルハドラッグ
            li.button.is-info.is-outlined
              p 桃生総合支所
            li.button.is-info.is-outlined
              p.fontSmall
               | 桃生地域福祉　　センター
            li.button.is-info.is-outlined
              p ファミリー　　マート
        // 地図メニュー
        .map
          .infomationBorder
            img(src='icon/border.png' alt='桃生地区の地図です。下に各ポイントのボタンがあります。上のボタンを押せば、一覧のメニューが見られます。')
          .button.is-info.icon_traning
            p.fontSmall2
               | 農業者トレーニングセンター
          .button.is-info.icon_tsuruha
            p.fontSmall
               | ツルハドラッグ
          .button.is-info.icon_sougo
            p.fontSmall
               | 桃生総合支所
          .button.is-info.icon_center
            p.fontSmall
               | 桃生地域福祉センター
          .button.is-info.icon_familyMart
            p.fontSmall
               | ファミリーマート
          
          
      // マスク
      #mask.hidden
    include include/footer.pug
    
    script(src='js/station.js')