doctype html
html
  // このファイルはpug形式で書いています。(develop_BFM/pug/ogatsu_hagihama.pug)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 石巻バリアフリーマップ
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='css/ogatsu_hagihama.css')
  body.container
    include include/header.pug
    main
      .spMenu
        img#spMenu(src='icon/menu.png' alt='メニューボタンです。タップすると各ポイントのボタンが表示されます')
      .main
        // サイドメニュー
        #menu.hidden
          .menuBorder
            img(src='icon/border.png' alt='メニュー一覧です。下に各ポイントのボタンがあります。')
          .menuArea
            p 雄勝地区
          ul
            li.btn_sougou.button.is-info.is-outlined
              p 雄勝総合支所
            li.btn_hospital.button.is-info.is-outlined
              p 雄勝診療所
            li.btn_jouhou.button.is-info.is-outlined
              p.fontSmall 復興まちづくり情報交流館
          .menuArea
            p 萩浜地区
          ul
            li.btn_vilege.button.is-info.is-outlined
              p 牡鹿ビレッジ
        // 地図メニュー
        .map
          .infomationBorder
            img(src='icon/border.png' alt='雄勝、萩浜地区の地図です。下に各ポイントのボタンがあります。上のボタンを押せば、一覧のメニューが見られます。')
          .icon_ogatsu.Area
            p 雄勝地区
          .btn_sougou.button.is-info.icon_sougou
            p.fontSmall
              | 雄勝総合支所
          .btn_hospital.button.is-info.icon_hospital
            p.fontSmall 雄勝診療所
          .btn_jouhou.button.is-info.icon_jouhou
            p.fontSmall
              | 復興まちづくり情報交流館
          .icon_hagihama.Area
            p 萩浜地区
          .btn_vilege.button.is-info.icon_vilege
            p.fontSmall 牡鹿ビレッジ
      // マスク
      #mask.hidden
      // 雄勝総合支所
      table#sougou.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p
                img(src='icon/info.png', alt='雄勝総合支所です。トイレに近いのは、不明です。ベビーベッドがあります。シャワートイレあります。')
                | 雄勝総合支所
                img#sougouBack(src='icon/back.png', alt='このボタンで地図に戻ります')
          tr.infomation
            td.icon
              img(src='icon/parking_ng.png', width='30', height='30')
            td.text 専用駐車場
            td.sign なし
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button_ng.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign なし
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：８：３０〜１７：００（土日祝休み）　電話57ｰ2111
          tr.slide
            td.pic(colspan='9')
              img#sougouPrev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#sougou_target(alt='ここに写真が表示されます')
              img#sougouNext(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#sougou_thumbnails.subnav
      // 雄勝診療所
      table#hospital.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p
                img(src='icon/info.png', alt='雄勝診療所です。トイレに近いのは、不明です。専用駐車場あります。シャワートイレあります。')
                | 雄勝診療所
                img#hospitalBack(src='icon/back.png', alt='このボタンで地図に戻ります')
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：９：００〜１６：００（土日祝休み）　電話58ｰ3373
          tr.slide
            td.pic(colspan='9')
              img#hospitalPrev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#hospital_target(alt='ここに写真が表示されます')
              img#hospitalNext(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#hospital_thumbnails.subnav
      // 復興まちづくり情報館
      table#jouhou.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p
                img(src='icon/info.png', alt='復興まちづくり情報交流館です。トイレに近いのは、不明です。ベビーベッドあります。シャワートイレあります。')
                | 復興まちづくり情報交流館
                img#jouhouBack(src='icon/back.png', alt='このボタンで地図に戻ります')
          tr.infomation
            td.icon
              img(src='icon/parking_ng.png', width='30', height='30')
            td.text 専用駐車場
            td.sign なし
            td.icon
              img(src='icon/babybed.png', width='30', height='30')
            td.text ベビーベッド
            td.sign あり
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button_ng.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign なし
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：９：００〜１７：００（火曜休み）　電話25ｰ6028
          tr.slide
            td.pic(colspan='9')
              img#jouhouPrev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#jouhou_target(alt='ここに写真が表示されます')
              img#jouhouNext(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#jouhou_thumbnails.subnav
      // 牡鹿ビレッジ
      table#vilege.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p
                img(src='icon/info.png', alt='牡鹿ビレッジです。トイレに近いのは、不明です。ベビーベッドあります。')
                | 牡鹿ビレッジ
                img#vilegeBack(src='icon/back.png', alt='このボタンで地図に戻ります')
          tr.infomation
            td.icon
              img(src='icon/parking_ng.png', width='30', height='30')
            td.text 専用駐車場
            td.sign なし
            td.icon
              img(src='icon/babybed.png', width='30', height='30')
            td.text ベビーベッド
            td.sign あり
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button_ng.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign なし
            td.icon
              img(src='icon/showertoilet_ng.png', width='30', height='30')
            td.text シャワートイレ
            td.sing なし
          tr.time
            td(colspan='9')
              p 時間：９：００〜１８：００
          tr.slide
            td.pic(colspan='9')
              img#vilegePrev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#vilege_target(alt='ここに写真が表示されます')
              img#vilegeNext(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#vilege_thumbnails.subnav
    include include/footer.pug
    
    script(src='js/ogatsu_Hagihama.js')
    script(src='js/ogatsu_Hagihama/ogatsuSougou.js')
    script(src='js/ogatsu_Hagihama/ogatsuHospital.js')
    script(src='js/ogatsu_Hagihama/ogatsuJouhou.js')
    script(src='js/ogatsu_Hagihama/ogatsuVilege.js')