doctype html
html
  // このファイルはpug形式で書いています。(develop_BFM/pug/ogatsu_hagihama.pug)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 石巻バリアフリーマップ
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='css/ogatsu_hagihama.css')
  body.container
    include include/header.pug
    main
      .spMenu
        i#spMenu.fas.fa-bars
      .main
        // サイドメニュー
        #menu.hidden
          .menuArea
            p 雄勝地区
          ul
            li.btn_sougou.button.is-info.is-outlined
              p 雄勝総合支所
            li.btn_hospital.button.is-info.is-outlined
              p 雄勝診療所
            li.btn_jouhou.button.is-info.is-outlined
              p.fontSmall
               | 復興まちづくり
               br
               | 情報交流館
          .menuArea
            p 萩浜地区
          ul
            li.btn_vilege.button.is-info.is-outlined
              p 牡鹿ビレッジ
        // 地図メニュー
        .map
          .icon_ogatsu.Area
            p 雄勝地区
          .btn_sougou.button.is-info.icon_sougou
            p.fontSmall
              | 雄勝
              br
              | 総合支所
          .btn_hospital.button.is-info.icon_hospital
            p.fontSmall 
              | 雄勝診療所
          .btn_jouhou.button.is-info.icon_jouhou
            p.fontSmall
              | 復興まちづくり
              br
              | 情報交流館
          .icon_hagihama.Area
            p 萩浜地区
          .btn_vilege.button.is-info.icon_vilege
            p.fontSmall
              | 牡鹿
              br
              | ビレッジ         
          
      // マスク
      #mask.hidden
      // 雄勝総合支所
      table#sougou.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p 雄勝総合支所
          tr.infomation
            td.icon
              img(src='icon/parking_ng.png', width='30', height='30')
            td.text 専用駐車場
            td.sign なし
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button_ng.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign なし
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：８：３０〜１７：００（土日祝休み）　電話57ｰ2111
          tr.slide
            td.pic(colspan='9')
              i#sougouPrev.fas.fa-chevron-circle-left
              img#sougou_target
              i#sougouNext.fas.fa-chevron-circle-right
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#sougou_thumbnails.subnav
                #sougouBack
                  i.fas.fa-caret-square-up
                  i.fas.fa-caret-square-left
      // 雄勝診療所
      table#hospital.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p 雄勝診療所
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：９：００〜１６：００（土日祝休み）　電話58ｰ3373
          tr.slide
            td.pic(colspan='9')
              i#hospitalPrev.fas.fa-chevron-circle-left
              img#hospital_target
              i#hospitalNext.fas.fa-chevron-circle-right
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#hospital_thumbnails.subnav
                #hospitalBack
                  i.fas.fa-caret-square-up
                  i.fas.fa-caret-square-left
      // 復興まちづくり情報館
      table#jouhou.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p 復興まちづくり情報交流館
          tr.infomation
            td.icon
              img(src='icon/parking_ng.png', width='30', height='30')
            td.text 専用駐車場
            td.sign なし
            td.icon
              img(src='icon/babybed.png', width='30', height='30')
            td.text ベビーベッド
            td.sign あり
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button_ng.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign なし
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：９：００〜１７：００（火曜休み）　電話25ｰ6028
          tr.slide
            td.pic(colspan='9')
              i#jouhouPrev.fas.fa-chevron-circle-left
              img#jouhou_target
              i#jouhouNext.fas.fa-chevron-circle-right
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#jouhou_thumbnails.subnav
                #jouhouBack
                  i.fas.fa-caret-square-up
                  i.fas.fa-caret-square-left
      // 牡鹿ビレッジ
      table#vilege.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p 牡鹿ビレッジ
          tr.infomation
            td.icon
              img(src='icon/parking_ng.png', width='30', height='30')
            td.text 専用駐車場
            td.sign なし
            td.icon
              img(src='icon/babybed.png', width='30', height='30')
            td.text ベビーベッド
            td.sign あり
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button_ng.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign なし
            td.icon
              img(src='icon/showertoilet_ng.png', width='30', height='30')
            td.text シャワートイレ
            td.sing なし
          tr.time
            td(colspan='9')
              p 時間：９：００〜１８：００
          tr.slide
            td.pic(colspan='9')
              i#vilegePrev.fas.fa-chevron-circle-left
              img#vilege_target
              i#vilegeNext.fas.fa-chevron-circle-right
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#vilege_thumbnails.subnav
                #vilegeBack
                  i.fas.fa-caret-square-up
                  i.fas.fa-caret-square-left
    include include/footer.pug
    
    script(src='js/ogatsu_Hagihama.js')
    script(src='js/ogatsu_Hagihama/ogatsuSougou.js')
    script(src='js/ogatsu_Hagihama/ogatsuHospital.js')
    script(src='js/ogatsu_Hagihama/ogatsuJouhou.js')
    script(src='js/ogatsu_Hagihama/ogatsuVilege.js')