doctype html
html
  // このファイルはpug形式で書いています。(develop_BFM/pug/kahoku.pug)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 石巻バリアフリーマップ
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css', integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==', crossorigin='')
    link(rel='stylesheet', href='css/oshika2.css')
  body.container
    include include/header.pug
    main
      .spMenu
        img#spMenu(src='icon/menu.png' alt='メニューボタンです。タップすると各ポイントのボタンが表示されます')
      .main
        // サイドメニュー
        #menu.hidden
          .menuBorder
            img(src='icon/border.png' alt='メニュー一覧です。下に各ポイントのボタンがあります。')
          ul#ul
        // 地図メニュー
        .map#map
          .infomationBorder
            img(src='icon/border.png' alt='牡鹿地区の地図です。下に各ポイントのボタンがあります。上のボタンを押せば、一覧のメニューが見られます。')
          
          
      // マスク
      #mask.hidden
      // 東洋館
      table#toyo.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p
               img(src='icon/info.png', alt='東洋館です。トイレに近い入り口は、不明です。シャワートイレがあります')
               | 東洋館
               img#toyoBack(src='icon/back.png', alt='このボタンで地図に戻ります')
          tr.infomation
            td.icon
              img(src='icon/parking_ng.png', width='30', height='30')
            td.text 専用駐車場
            td.sign なし
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button_ng.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign なし
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：９：００〜１６：３０　電話：45-2206
          tr.slide
            td.pic(colspan='9')
              img#toyoPrev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#toyo_target(alt='ここに写真が表示されます')
              img#toyoNext(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#toyo_thumbnails.subnav

      // 牡鹿総合支所
      table#sogo.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p
               img(src='icon/info.png', alt='牡鹿総合支所です。トイレに近い入り口は、不明です。オストメイトあります。シャワートイレがあります')
               | 牡鹿総合支所
               img#sogoBack(src='icon/back.png', alt='このボタンで地図に戻ります')
          tr.infomation
            td.icon
              img(src='icon/parking_ng.png', width='30', height='30')
            td.text 専用駐車場
            td.sign なし
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate.png', width='30', height='30')
            td.text オストメイト
            td.sign あり
            td.icon
              img(src='icon/button_ng.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign なし
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：８：３０〜１７：００（土日祝休）　電話：45-2111
          tr.slide
            td.pic(colspan='9')
              img#sogoPrev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#sogo_target(alt='ここに写真が表示されます')
              img#sogoNext(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#sogo_thumbnails.subnav
      // おしか清心苑
      table#seishin.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p
               img(src='icon/info.png', alt='おしか清心苑です。トイレに近い入り口は、不明です。専用駐車場があります。呼び出しボタンがあります。シャワートイレがあります')
               | おしか清心苑
               img#seishinBack(src='icon/back.png', alt='このボタンで地図に戻ります')
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 電話：44-1654
          tr.slide
            td.pic(colspan='9')
              img#seishinPrev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#seishin_target(alt='ここに写真が表示されます')
              img#seishinNext(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#seishin_thumbnails.subnav
      // 清優館①
      table#seiyu_1.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p
               img(src='icon/info.png', alt='清優館の１です。トイレに近い入り口は、不明です。専用駐車場があります。オストメイトがあります。呼び出しボタンがあります。シャワートイレがあります')
               | 清優館①
               img#seiyu_1Back(src='icon/back.png', alt='このボタンで地図に戻ります')
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate.png', width='30', height='30')
            td.text オストメイト
            td.sign あり
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：８：３０〜１７：００　電話：42-2611
          tr.slide
            td.pic(colspan='9')
              img#seiyu_1Prev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#seiyu_1_target(alt='ここに写真が表示されます')
              img#seiyu_1Next(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#seiyu_1_thumbnails.subnav
      // 清優館②
      table#seiyu_2.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p
               img(src='icon/info.png', alt='清優館の２です。トイレに近い入り口は、不明です。専用駐車場があります。呼び出しボタンがあります。シャワートイレがあります')
               | 清優館②
               img#seiyu_2Back(src='icon/back.png', alt='このボタンで地図に戻ります')
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：８：３０〜１７：００　電話：42-2611
          tr.slide
            td.pic(colspan='9')
              img#seiyu_2Prev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#seiyu_2_target(alt='ここに写真が表示されます')
              img#seiyu_2Next(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#seiyu_2_thumbnails.subnav
      // ほっとまる①
      table#maru_1.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p
               img(src='icon/info.png', alt='牡鹿交流センターほっとまるの１です。トイレに近い入り口は、不明です。専用駐車場があります。呼び出しボタンがあります。シャワートイレがあります')
               | 牡鹿交流センターほっとまる①
               img#maru_1Back(src='icon/back.png', alt='このボタンで地図に戻ります')
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：１３：００〜２０：００　電話：45ｰ3618
          tr.slide
            td.pic(colspan='9')
              img#maru_1Prev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#maru_1_target(alt='ここに写真が表示されます')
              img#maru_1Next(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#maru_1_thumbnails.subnav
      // ほっとまる②
      table#maru_2.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p
               img(src='icon/info.png', alt='牡鹿交流センターほっとまるの２です。トイレに近い入り口は、不明です。専用駐車場があります。呼び出しボタンがあります。シャワートイレがあります')
               | 牡鹿交流センターほっとまる②
               img#maru_2Back(src='icon/back.png', alt='このボタンで地図に戻ります')
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間:１３：００〜２０：００　電話：45ｰ3618
          tr.slide
            td.pic(colspan='9')
              img#maru_2Prev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#maru_2_target(alt='ここに写真が表示されます')
              img#maru_2Next(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#maru_2_thumbnails.subnav
      // 寄磯診療所
      table#yoriiso.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p
               img(src='icon/info.png', alt='寄磯診療所です。トイレに近い入り口は、不明です。専用駐車場があります。オストメイトあります。呼び出しボタンがあります。シャワートイレがあります')
               | 寄磯診療所
               img#yoriisoBack(src='icon/back.png', alt='このボタンで地図に戻ります')
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate.png', width='30', height='30')
            td.text オストメイト
            td.sign あり
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：９：００〜１６：００　電話:48-2111
          tr.slide
            td.pic(colspan='9')
              img#yoriisoPrev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#yoriiso_target(alt='ここに写真が表示されます')
              img#yoriisoNext(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#yoriiso_thumbnails.subnav
      
    include include/footer.pug
    
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js', integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==', crossorigin='')
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src='js/oshika/oshikaMap.js')
    script(src='js/oshika.js')
    script(src='js/oshika/oshikaToyo.js')
    script(src='js/oshika/oshikaSogo.js')
    script(src='js/oshika/oshikaSeishin.js')
    script(src='js/oshika/oshikaSeiyu1.js')
    script(src='js/oshika/oshikaSeiyu2.js')
    script(src='js/oshika/oshikaMaru1.js')
    script(src='js/oshika/oshikaMaru2.js')
    script(src='js/oshika/oshikaYoriiso.js')