doctype html
html
  // このファイルはpug形式で書いています。(develop_BFM/pug/kahoku.pug)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 石巻バリアフリーマップ
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css', integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==', crossorigin='')
    link(rel='stylesheet', href='css/oshika2.css')
  body.container
    include include/header.pug
    main
      .spMenu
        img#spMenu(src='icon/menu.png' alt='メニューボタンです。タップすると各ポイントのボタンが表示されます')
      .main
        // サイドメニュー
        #menu.hidden
          .menuBorder
            img(src='icon/border.png' alt='メニュー一覧です。下に各ポイントのボタンがあります。')
          ul#ul
        // 地図メニュー
        .map#map
          .infomationBorder
            img(src='icon/border.png' alt='牡鹿地区の地図です。下に各ポイントのボタンがあります。上のボタンを押せば、一覧のメニューが見られます。')
          
          
      // マスク
      #mask.hidden
      // モーダル
      table#modal.hidden
        tbody
          tr.pointTittle
            th#thTitle(colspan='9')
          tr.infomation
            td#parkingIcon.icon
            td.text 専用駐車場
            td#parkingSign.sign
            td#babybedIcon.icon
            td.text ベビーベッド
            td#babybedSign.sign
            td#multisheetIcon.icon
            td.text マルチシート
            td#multisheetSign.sign
          tr.infomation
            td#ostomateIcon.icon
            td.text オストメイト
            td#ostomateSign.sign
            td#buttonIcon.icon
            td.text 呼び出しボタン
            td#buttonSign.sign
            td#shoewrtoiletIcon.icon
            td.text シャワートイレ
            td#showertoiletSign.sing
          tr.time
            td#tdTime(colspan='9')
          tr.slide
            td.pic(colspan='9')
              img#Prev(src='icon/left.png', alt='スライドショーのボタンです。上に詳細情報があります')
              img#target(alt='ここに写真が表示されます')
              img#Next(src='icon/right.png', alt='スライドショーのボタンです。上に詳細情報があります')
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#thumbnails.subnav
    
    include include/footer.pug
    
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js', integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==', crossorigin='')
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src='js/oshika/oshikaMap.js')
    script(src='js/oshika/oshikaMapPoint.js')
    script(src='js/oshika/oshikaModal.js')
    script(src='js/oshika.js')