doctype html
html
  // このファイルはpug形式で書いています。(develop_BFM/pug/kahoku.pug)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 石巻バリアフリーマップ
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='css/oshika.css')
  body.container
    include include/header.pug
    main
      .spMenu
        i#spMenu.fas.fa-bars
      .main
        // サイドメニュー
        #menu.hidden
          ul
            li.button.is-info.is-outlined
              p 東洋館
            li.button.is-info.is-outlined
              p 牡鹿総合支所
            li.button.is-info.is-outlined
              p おしか清心苑
            li.button.is-info.is-outlined
              p 清優館
            li.button.is-info.is-outlined
              p.fontSmall
               | 牡鹿交流センター
               br
               | ほっとまる
            li.button.is-info.is-outlined
              p 寄磯診療所
        // 地図メニュー
        .map
          .button.is-info.icon_toyo
            p 東洋館
          .button.is-info.icon_sougou
            p.fontSmall
              | 牡鹿
              br
              | 総合支所
          .button.is-info.icon_seishin
            p.fontSmall 
              | おしか
              br.spmode
              | 清心苑
          .button.is-info.icon_seiyu
            p 清優館
          .button.is-info.icon_hot_Maru
            p.fontSmall2
              | 牡鹿交流
              br.spmode
              | センター
              br
              | ほっとまる
          .button.is-info.icon_yoriiso
            p 
              | 寄磯
              br.spmode
              | 診療所
          
          
    //-   // マスク
    //-   #mask.hidden
    //-   // 市役所
    //-   table#cityHall.hidden
    //-     tbody
    //-       tr.pointTittle
    //-         th(colspan='9')
    //-           p 石巻市役所
    //-       tr.infomation
    //-         td.icon
    //-           img(src='icon/parking.png', width='30', height='30')
    //-         td.text 専用駐車場
    //-         td.sign あり
    //-         td.icon
    //-           img(src='icon/babybed_ng.png', width='30', height='30')
    //-         td.text ベビーベッド
    //-         td.sign なし
    //-         td.icon
    //-           img(src='icon/multisheet_ng.png', width='30', height='30')
    //-         td.text マルチシート
    //-         td.sign なし
    //-       tr.infomation
    //-         td.icon
    //-           img(src='icon/ostomate_ng.png', width='30', height='30')
    //-         td.text オストメイト
    //-         td.sign なし
    //-         td.icon
    //-           img(src='icon/button.png', width='30', height='30')
    //-         td.text 呼び出しボタン
    //-         td.sign あり
    //-         td.icon
    //-           img(src='icon/showertoilet_ng.png', width='30', height='30')
    //-         td.text シャワートイレ
    //-         td.sing なし
    //-       tr.slide
    //-         td.pic(colspan='9')
    //-           i#cityHallprev.fas.fa-chevron-circle-left
    //-           img#cityHall_target(src='img/pic/station/cityhall/cityhall1.jpg')
    //-           i#cityHallnext.fas.fa-chevron-circle-right
    //-       tr.pointData
    //-         td(colspan='9')
    //-           .under
    //-             nav
    //-               ul#cityhall_thumbnails.subnav
    //-             #cityHallBack
    //-               i.fas.fa-caret-square-up
    //-               i.fas.fa-caret-square-left
    include include/footer.pug
    
    script(src='js/station.js')