doctype html
html
  // このファイルはpug形式で書いています。(develop_BFM/pug/kahoku.pug)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 石巻バリアフリーマップ
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='css/oshika.css')
  body.container
    include include/header.pug
    main
      .spMenu
        i#spMenu.fas.fa-bars
      .main
        // サイドメニュー
        #menu.hidden
          ul
            li.btn_Toyo.button.is-info.is-outlined
              p 東洋館
            li.btn_sogo.button.is-info.is-outlined
              p 牡鹿総合支所
            li.btn_seishin.button.is-info.is-outlined
              p おしか清心苑
            li.btn_seiyu1.button.is-info.is-outlined
              p 清優館①
            li.btn_seiyu2.button.is-info.is-outlined
              p 清優館②
            li.btn_maru1.button.is-info.is-outlined
              p.fontSmall
               | 牡鹿交流センター
               br
               | ほっとまる①
            li.btn_maru2.button.is-info.is-outlined
              p.fontSmall
               | 牡鹿交流センター
               br
               | ほっとまる②
            li.btn_yoriiso.button.is-info.is-outlined
              p 寄磯診療所
        // 地図メニュー
        .map
          .btn_Toyo.button.is-info.icon_toyo
            p 東洋館
          .btn_sogo.button.is-info.icon_sougou
            p.fontSmall
              | 牡鹿
              br
              | 総合支所
          .btn_seishin.button.is-info.icon_seishin
            p.fontSmall 
              | おしか
              br.spmode
              | 清心苑
          .btn_seiyu1.button.is-info.icon_seiyu1
            p 清優館①
          .btn_seiyu2.button.is-info.icon_seiyu2
            p 清優館②
          .btn_maru1.button.is-info.icon_hot_Maru1
            p.fontSmall2
              | 牡鹿交流
              br.spmode
              | センター
              br
              | ほっとまる①
          .btn_maru2.button.is-info.icon_hot_Maru2
            p.fontSmall2
              | 牡鹿交流
              br.spmode
              | センター
              br
              | ほっとまる②
          .btn_yoriiso.button.is-info.icon_yoriiso
            p 
              | 寄磯
              br.spmode
              | 診療所
          
          
      // マスク
      #mask.hidden
      // 東洋館
      table#toyo.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p 東洋館
          tr.infomation
            td.icon
              img(src='icon/parking_ng.png', width='30', height='30')
            td.text 専用駐車場
            td.sign なし
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button_ng.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign なし
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：９：００〜１６：３０　電話：45-2206
          tr.slide
            td.pic(colspan='9')
              i#toyoPrev.fas.fa-chevron-circle-left
              img#toyo_target
              i#toyoNext.fas.fa-chevron-circle-right
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#toyo_thumbnails.subnav
                #toyoBack
                  i.fas.fa-caret-square-up
                  i.fas.fa-caret-square-left
      // 牡鹿総合支所
      table#sogo.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p 牡鹿総合支所
          tr.infomation
            td.icon
              img(src='icon/parking_ng.png', width='30', height='30')
            td.text 専用駐車場
            td.sign なし
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate.png', width='30', height='30')
            td.text オストメイト
            td.sign あり
            td.icon
              img(src='icon/button_ng.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign なし
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：８：３０〜１７：００（土日祝休）　電話：45-2111
          tr.slide
            td.pic(colspan='9')
              i#sogoPrev.fas.fa-chevron-circle-left
              img#sogo_target
              i#sogoNext.fas.fa-chevron-circle-right
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#sogo_thumbnails.subnav
                #sogoBack
                  i.fas.fa-caret-square-up
                  i.fas.fa-caret-square-left
      // おしか清心苑
      table#seishin.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p おしか清心苑
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 電話：44-1654
          tr.slide
            td.pic(colspan='9')
              i#seishinPrev.fas.fa-chevron-circle-left
              img#seishin_target
              i#seishinNext.fas.fa-chevron-circle-right
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#seishin_thumbnails.subnav
                #seishinBack
                  i.fas.fa-caret-square-up
                  i.fas.fa-caret-square-left
      // 清優館①
      table#seiyu_1.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p 清優館①
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate.png', width='30', height='30')
            td.text オストメイト
            td.sign あり
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：８：３０〜１７：００　電話：42-2611
          tr.slide
            td.pic(colspan='9')
              i#seiyu_1Prev.fas.fa-chevron-circle-left
              img#seiyu_1_target
              i#seiyu_1Next.fas.fa-chevron-circle-right
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#seiyu_1_thumbnails.subnav
                #seiyu_1Back
                  i.fas.fa-caret-square-up
                  i.fas.fa-caret-square-left
      // 清優館②
      table#seiyu_2.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p 清優館②
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：８：３０〜１７：００　電話：42-2611
          tr.slide
            td.pic(colspan='9')
              i#seiyu_2Prev.fas.fa-chevron-circle-left
              img#seiyu_2_target
              i#seiyu_2Next.fas.fa-chevron-circle-right
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#seiyu_2_thumbnails.subnav
                #seiyu_2Back
                  i.fas.fa-caret-square-up
                  i.fas.fa-caret-square-left
      // ほっとまる①
      table#maru_1.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p 牡鹿交流センターほっとまる①
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：１３：００〜２０：００　電話：45ｰ3618
          tr.slide
            td.pic(colspan='9')
              i#maru_1Prev.fas.fa-chevron-circle-left
              img#maru_1_target
              i#maru_1Next.fas.fa-chevron-circle-right
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#maru_1_thumbnails.subnav
                #maru_1Back
                  i.fas.fa-caret-square-up
                  i.fas.fa-caret-square-left
      // ほっとまる②
      table#maru_2.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p 牡鹿交流センターほっとまる②
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間:１３：００〜２０：００　電話：45ｰ3618
          tr.slide
            td.pic(colspan='9')
              i#maru_2Prev.fas.fa-chevron-circle-left
              img#maru_2_target
              i#maru_2Next.fas.fa-chevron-circle-right
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#maru_2_thumbnails.subnav
                #maru_2Back
                  i.fas.fa-caret-square-up
                  i.fas.fa-caret-square-left
      // 寄磯診療所
      table#yoriiso.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p 寄磯診療所
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate.png', width='30', height='30')
            td.text オストメイト
            td.sign あり
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet.png', width='30', height='30')
            td.text シャワートイレ
            td.sing あり
          tr.time
            td(colspan='9')
              p 時間：９：００〜１６：００　電話:48-
          tr.slide
            td.pic(colspan='9')
              i#yoriisoPrev.fas.fa-chevron-circle-left
              img#yoriiso_target
              i#yoriisoNext.fas.fa-chevron-circle-right
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#yoriiso_thumbnails.subnav
                #yoriisoBack
                  i.fas.fa-caret-square-up
                  i.fas.fa-caret-square-left
      
    include include/footer.pug
    
    script(src='js/oshika.js')
    script(src='js/oshika/oshikaToyo.js')
    script(src='js/oshika/oshikaSogo.js')
    script(src='js/oshika/oshikaSeishin.js')
    script(src='js/oshika/oshikaSeiyu1.js')
    script(src='js/oshika/oshikaSeiyu2.js')
    script(src='js/oshika/oshikaMaru1.js')
    script(src='js/oshika/oshikaMaru2.js')
    script(src='js/oshika/oshikaYoriiso.js')