doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 石巻バリアフリーマップ
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='css/station.css')
  body.container
    include include/header.pug
    main
      .spMenu
        i#spMenu.fas.fa-bars
      .main
        // サイドメニュー
        #menu.hidden
          ul
            li.button.is-info.is-outlined
              p 石巻駅
            li.btn_cityHalls.button.is-info.is-outlined
              p 石巻市役所１F
            li.button.is-info.is-outlined
              p セブンイレブン
            li.button.is-info.is-outlined
              p ファミリーマート
            li.button.is-info.is-outlined
              p 石巻グランドホテル
            li.button.is-info.is-outlined
              p あいプラザ
            li.button.is-info.is-outlined
              p.fontSmall
                | 石巻こどもセンター
                br
                | 「らいつ」
            li.button.is-info.is-outlined
              p ローソン
            li.button.is-info.is-outlined
              p.fontSmall
                | 復興まちづくり
                br
                | 情報交流館
            li.button.is-info.is-outlined
              p みやぎ生協文化会館
            li.button.is-info.is-outlined
              p.fontSmall
                | いしのまき
                br
                | 元気市場２F
            li.button.is-info.is-outlined
              p 石ノ森漫画館
            li.button.is-info.is-outlined
              p 中瀬公園
            li.button.is-info.is-outlined
              p 図書館
            li.button.is-info.is-outlined
              p 総合体育館
            li.button.is-info.is-outlined
              p ハローワーク
            li.button.is-info.is-outlined
              p ファミリーマート
            li.button.is-info.is-outlined
              p 中央公園
            li.button.is-info.is-outlined
              p 日和山公園
        // 地図メニュー
        .map
          .button.is-info.icon_station
            p 石巻駅
          .btn_cityHalls.button.is-info.icon_cityhall
            p 石巻市役所
          .button.is-info.icon_sevenEleven
            p.fontSmall
              | セブン
              br
              | イレブン
          .button.is-info.icon_familiyMart1
            p.fontSmall
              | ファミリー
              br
              | マート
          .button.is-info.icon_grandHotel
            p.fontSmall2
              | 石巻
              br
              | グランドホテル
          .button.is-info.icon_iPlaza
            p あいプラザ
          .button.is-info.icon_raitu
            p.fontSmall2
              | 石巻市こども
              br
              | センター「らいつ」
          .button.is-info.icon_lowSon
            p ローソン
          .button.is-info.icon_hukkou
            p.fontSmall
              | 復興まちづくり
              br
              | 情報交流館
          .button.is-info.icon_eyetopia
            p.fontSmall
              | みやぎ生協
              br
              | 文化会館
          .button.is-info.icon_market
            p.fontSmall
              | いしのまき
              br
              | 元気いちば２F
          .button.is-info.icon_manga
            p 石ノ森漫画館
          .button.is-info.icon_nakasePark
            p 中瀬公園
          .button.is-info.icon_library
            p 図書館
          .button.is-info.icon_playLand
            p 総合体育館
          .button.is-info.icon_helloWark
            p.fontSmall
              | ハロー
              br
              | ワーク
          .button.is-info.icon_familiyMart2
            p.fontSmall
              | ファミリー
              br
              | マート
          .button.is-info.icon_central
            p 中央公民館
          .button.is-info.icon_hiyoriPark
            p 日和山公園
      // マスク
      #mask.hidden
      // 市役所
      table#cityHall.hidden
        tbody
          tr.pointTittle
            th(colspan='9')
              p 石巻市役所
          tr.infomation
            td.icon
              img(src='icon/parking.png', width='30', height='30')
            td.text 専用駐車場
            td.sign あり
            td.icon
              img(src='icon/babybed_ng.png', width='30', height='30')
            td.text ベビーベッド
            td.sign なし
            td.icon
              img(src='icon/multisheet_ng.png', width='30', height='30')
            td.text マルチシート
            td.sign なし
          tr.infomation
            td.icon
              img(src='icon/ostomate_ng.png', width='30', height='30')
            td.text オストメイト
            td.sign なし
            td.icon
              img(src='icon/button.png', width='30', height='30')
            td.text 呼び出しボタン
            td.sign あり
            td.icon
              img(src='icon/showertoilet_ng.png', width='30', height='30')
            td.text シャワートイレ
            td.sing なし
          tr.slide
            td.pic(colspan='9')
              i#cityHallprev.fas.fa-chevron-circle-left
              img#cityHall_target(src='img/pic/station/cityhall/cityhall1.jpg')
              i#cityHallnext.fas.fa-chevron-circle-right
          tr.pointData
            td(colspan='9')
              .under
                nav
                  ul#cityhall_thumbnails.subnav
                #cityHallBack
                  i.fas.fa-caret-square-up
                  i.fas.fa-caret-square-left
    include include/footer.pug
    
    script(src='js/station.js')