header
      .head
        img(src='icon/head.png' alt='石巻バリアフーマップ。すぐ下には地域ごとのメニューがあります。地域ごとのページに進めば、各施設ごとの情報が見られます')
      .spMode
        .nav.tabs.is-centered.is-boxed
          div(onclick='home()')
            span 全体図
          div(onclick='station()')
            span 石巻駅前
          div(onclick='sumiyoshiu()')
            span 住吉 山下
          div(onclick='minato()')
            span 湊
          div(onclick='hebitaEast()')
            span 蛇田（東地区）
          div(onclick='hebitaWest()')
            span 蛇田（西地区）
          div(onclick='hebitaSouth()')
            span 蛇田（南地区）
          div(onclick='watanoha()')
            span 渡波
        .nav.tabs.is-centered.is-boxed
          div(onclick='inai()')
            span 稲井
          div(onclick='kama()')
            span 釜港 大街道
          div(onclick='kahoku()')
            span 河北
          div(onclick='kana()')
            span 河南
          div(onclick='monou()')
            span 桃生
          div(onclick='kitakami()')
            span 北上
          div(onclick='ogatsu_hagihama()')
            span 雄勝    
          div(onclick='oshika()')
            span 牡鹿