header
      .head
        div
          h1 石巻バリアフリーマップ
      .spMode
        .nav.tabs.is-centered.is-boxed
          .is-active
            a(href='index.html')
              span ・全体図
          div
            a(href='station.html')
              span ・石巻駅前
          div
            a(href='sumiyoshi.html')
              span
                | ・住吉
                br.br
                | ・山下
          div
            a
              span ・湊
          div
            a
              span
                | ・蛇田
                br.br
                | （東地区）
          div
            a
              span
                | ・蛇田
                br.br
                | （西地区）
          div
            a
              span
                | ・蛇田
                br.br
                | （西地区）
          div
            a
              span ・渡波
        .nav.tabs.is-centered.is-boxed
          div
            a
              span ・稲井
          div
            a
              span
                | ・釜港
                br.br
                | ・大街道
          div
            a
              span ・河北
          div
            a
              span ・河南
          div
            a
              span ・桃生
          div
            a
              span ・北上
          div
            a
              span
                | ・雄勝
                br.br
                | ・萩浜    
          div
            a
              span ・牡鹿